.formulario{
    margin: 0 auto;
    max-width: 60rem;
}

.formulario fieldset{
    border: 1px solid black;
    margin-bottom: 2rem;

}

.formulario legend{
    background-color: #005485;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 4rem;
}

.campo{
    display: flex;
    margin-bottom: 2rem;
}

.campo label{
    flex-basis: 10rem;
}


.campo input:not([type="radio"]),
.campo textarea{
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}

.add{
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
    border: none;
}